.footer {
    font-family: $font-display;
    font-size: 1.5rem;
    color: #fff;
    background-image: linear-gradient(rgba($color-grey-dark-3, .9),rgba($color-grey-dark-3, .9));
    background-size: cover;
    background-position: center;
    text-align: center;
}