.works {
    display: grid;
    grid-template-rows: 15% 85%;
    // grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;

    background-image: linear-gradient(rgba($color-grey-dark-3, .9),rgba($color-grey-dark-3, .9));
    background-size: cover;
    background-position: center;

    @include respond(phone) {
        grid-template-rows: min-content 1fr;
    }

    &__title {
        @include title;
    }

    &__item {
        display: flex;
        justify-content: center;
        height: auto;
        width: 100%;
        transition: all .3s;

        // @include respond(phone) {
        //     height: 60%;
        // }
    }

    &__invisible-1 {
        @include desproj;

        justify-self: center;
        align-self: center;

        @include respond(tab-port) {
            font-size: 1.2rem;
        }

        @include respond(smphone) {
            font-size: 2rem;
        }
    }

    &__invisible-2 {
        @include desproj;
        justify-self: center;
        align-self: center;

        @include respond(tab-port) {
            font-size: 1.2rem;
        }

        @include respond(smphone) {
            font-size: 2rem;
        }
    }

    &__invisible-3 {
        @include desproj;
        justify-self: center;
        align-self: center;

        @include respond(tab-port) {
            font-size: 1.2rem;
        }

        @include respond(smphone) {
            font-size: 2rem;
        }
    }

    &__img {
        width:65%;
        border: 3px #fff solid;
        margin-bottom: 1rem;
        &:hover {
            opacity: .6;
            border-color: #fff;
            transition: all .4s ease-out;
        }
    }

    &__img:hover + &__invisible-1 {
        opacity: 1;
    }

    &__img:hover + &__invisible-2 {
        opacity: 1;
    }

    &__img:hover + &__invisible-3 {
        opacity: 1;
    }

    &__title {
        grid-column: 1 / -1;
        @include title;
    }

    &__projs {
        // margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // grid-gap: 1rem;
        @include respond(smphone) {
            display: inline;
        }

    }

    &__proj {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}