%heading { //for extend
    font-family: $font-display;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 6rem;
    color: #fff;
    line-height: 1.5;

    @include respond(tab-land) {
        font-size: 4.5rem;
    }

    @include respond(tab-port) {
        font-size: 4rem;
    }
}

.heading-2 {
    @extend %heading;
    font-size: 5rem;
    color: #fff;
    line-height: 1.2;    
    text-transform: uppercase;

    @include respond(smphone) {
        font-size: 4rem;
    }

    span {
    font-size: 5rem;
    color: $color-tertiary-light;

        @include respond(smphone) {
            font-size: 4rem;
        }
    }
}

.heading-3 {
    @extend %heading;
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;

    @include respond(tab-land) {
        font-size: 1.5rem;
    }

    @include respond(tab-port) {
        font-size: 1.3rem;
    }
}

.heading-4 {
    @extend %heading;
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
}
